* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Montreal';
    src: url('../public/fonts/PPNeueMontreal-Regular.woff2') format('woff2'),
    url('../public/fonts/PPNeueMontreal-Regular.woff') format('woff'),
    url('../public/fonts/PPNeueMontreal-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    //background: #b3cf99;
    background-image: linear-gradient(180deg, #d4e9c0, #99b580);
    background-image: linear-gradient(180deg, #d9e4f1, #b1bddb);
    //background-image: linear-gradient(180deg, #e8dbb8, #c0b084);
    font-family: 'Montreal', sans-serif;
}

.drawer {
    position: fixed;
    top: 0;
    height: 100vh;
    /* background: white; */
    background: rgba(255,255,255,0.1);
    background: rgba(0,0,0,0.1);
    backdrop-filter: blur(32px);
    width: clamp(250px, 50vw, 600px);
    right: 0;
    /* transform: translateX(100%); */
    z-index: 3;
    color: white;
    padding: 50px 32px;

    border-left: 1px solid white;
    overflow: auto;



}

.drawer .name {
    padding-bottom: 1rem;
    margin-bottom: 32px;
    border-bottom: 1px solid white;
}

.drawer .image {
    width: 100%;
    aspect-ratio: 16 / 9;
    position: relative;
    border: 4px solid white;
}

.drawer .image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.drawer .info {
    padding: 32px 0px;
    margin: 32px 0;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    line-height: 1.6;
}

.drawer .button {

    width: 100%;
    background: transparent;
    text-align: center;
    color: white;
    font-weight: 700;
    letter-spacing: 2px;
    border: 2px solid white;
    padding: 1.2rem 2rem;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    display: block;
        
}

.drawer .button:hover {

    background: white;
    color: black
        
}

.backdrop {
    position: fixed;
    top: 0;
    height: 100vh;
    /* background: rgba(255,255,255,0.5);
    backdrop-filter: blur(32px); */
    width: 100%;
    right: 0;
    z-index: 2;
}

.panoHeader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.1);
    backdrop-filter: blur(32px);
    z-index: 10;
    display: flex;
    border-bottom: 1px solid white;
}

.panoClose {
    padding: 16px 32px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
}